
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url("assets/fondo.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow-y: auto;
}

.banderas{
    position: relative;
    width: 100%;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items:flex-start;
}
.red{
    color: #FF3333;
}
.green{
    color: #006838;
}
.banderas .izq,
.banderas .drc{
    width: 45%;
    max-width: 200px;
    position: absolute;
}
.banderas .izq{
    left: 0;
    top: 0;
}
.banderas .drc{
    right: 0;
    top: 0;
}

.titulo{
    font-family: 'Luckiest Guy', cursive;
    text-align: center;
    font-weight: 300;
    width: 100%;
}

@media only screen and (max-width: 750px) {
    .banderas .izq, .banderas .drc{
        width: 170px;
    }
    .sombrero{
        width: 120px;
        margin-top: 50px;
    }
    .titulo span{
        width: 100%;
        display: block;
        font-size: 50px;
        padding: 0px;
    }
  }