
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.fondo{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -2;
}
#animacion{
    width: 100%;
    overflow: hidden;
    height: 100%;
    position: fixed;
    top: 50%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */
    z-index: -1;
    transform: translate(-50%, -50%);
}
#loader{
    z-index: 3000;
    width: 100vw;
    background-color: #000;
    height: 100vh;
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #FFF;
    font-family: 'Open Sans Bold', sans-serif;
    font-weight: 700;
    transition: 0.3s ease-out;

}
#loader.disable{
    opacity: 0;
}
#loader img{
    width: 200px;
}
main{
    z-index: 10;
}
.banderas{
    position: relative;
    width: 100%;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items:flex-start;
}
.red{
    color: #FF3333;
}
.green{
    color: #006838;
}
.banderas .izq,
.banderas .drc{
    width: 45%;
    max-width: 200px;
    position: absolute;
}
.banderas .izq{
    left: 0;
    top: 0;
}
.banderas .drc{
    right: 0;
    top: 0;
}

.titulo{
    font-family: 'Luckiest Guy', cursive;
    text-align: center;
    font-weight: 300;
    width: 100%;
}

.luis-fest{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.luis-fest span{
    font-family: 'Luckiest Guy', cursive;
    position: absolute;
    color: #FFF;
}
.viva{
    position: relative;
}
.decoracion{
    position: absolute;
    width: 100%;
    top: 32%;
}

.maraca, .guitarras, .cactus{
    
    
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    position: relative;
}
.invitacion{
    position: absolute;
    width: 100%;
    font-family: 'Open Sans Bold', sans-serif;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}
.direccion{
    width: 100%;
    font-family: 'Open Sans Bold', sans-serif;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
}
.fecha{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.fecha p{
    font-family: 'Open Sans Bold', sans-serif;
    font-weight: 700;
    color: #FFF;
    text-align: center;
}
.countdown{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hora{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.terraza{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mapa{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.guitarras{
    position: absolute;
    z-index: -10;
}

button, button, .enviando, .enviado, .error{
    background-color: #006838;
    color: #FFF;
    font-family: 'Luckiest Guy', cursive;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid #FF3333;
}
.dudas a, .mapa a{
    background-color: #006838;
    color: #FFF;
    font-family: 'Luckiest Guy', cursive;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid #FF3333;
    text-decoration: none;
}
.confirmacion-asistencia{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.formulario{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
}
.formulario form{
    display: flex;
    flex-direction: column;
}
.formulario form input, select, textarea{
    outline: none;
    border: 1px solid #FF3333;
    border-radius: 0px;
    background-color: #006837b6;
    color:#FFF;
}
.formulario form label{
    color: #FFF;
}
.formulario form button{
    width: max-content;
    align-self: center;
}

.dudas{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.cactus{
    position: absolute;
    width: 100%;
    z-index: -10;
}
.direccion{
    z-index: 10;
}

.numeros{
    position: absolute;
}
.contenedor-count{
    width: 100%;
    height: 100%;
    position: relative;
}
.contenedor-count div{
    position: absolute;
    font-family: 'Luckiest Guy', cursive;
}
@media only screen and (max-width: 850px) {
    .banderas .izq, .banderas .drc{
        width: 170px;
    }
    .sombrero{
        width: 120px;
        margin-top: 50px;
    }
    .titulo span{
        width: 100%;
        display: block;
        font-size: 50px;
        padding: 0px;
    }
    .titulo{
        margin-top: 10px;
    }

    .decoracion img{
        width: 300px;
    }
    .maraca{
        margin: 0px auto;
        margin-top: 50px;
        width: 300px;
    }
    .maraca img{
        width: 60px;
    }
    .invitacion p{
        width: 210px;
        font-size: 18px;
        color: #FFF;
        text-align: center;
    }
    .fecha{
        margin-top: 50px;
        padding-bottom: 120px;
    }
    .fecha img{
        width: 200px;
    }
    .fecha p{
        font-size: 34px;
    }
    .countdown{
        bottom: 0;
        overflow-x: hidden;
    }
    .countdown img{
        width: 480px;
    }
    .numeros{
        width: 350px;
        top: 30px;
        height: 100px;
        color: #FFF;
        font-size: 30px;
        padding: 5px;
    }
    .dia{
        left: 30px;
        top: 10px;
        transform: rotate(30deg);
    }
    .horas{
        left: 113px;
        top: 35px;
        transform: rotate(10deg);
    }
    .minutos{
        left: 195px;
        top: 35px;
        transform: rotate(-10deg);
    }
    .segundos{
        left: 270px;
        top: 13px;
        transform: rotate(-20deg);
    }
    .hora{
        margin-top: 50px;
    }
    
    .hora img{
        width: 200px;
    }
    .terraza{
        margin-top: 50px;
        overflow-x: hidden;
    }
    .terraza img{
        width: 310px;
    }
    .direccion p{
        font-size: 18px;
        text-align: center;
    }
    .mapa{
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #mapa{
        width: 280px;
        height: 200px;
    }
    .mapa a{
        margin-top: 20px;
        margin-bottom: 80px;
        font-size: 20px;
        padding: 3px 3px 3px 3px;
    }
    .guitarras{
        width: 350px;
        overflow-x: hidden;
        bottom: 0;
    }
    .guitarras img{
        width: 90px;

    }
    .confirmacion-asistencia{
    }
    .confirmacion-asistencia img{
        width: 300px;
    }
    .formulario form{
        width: 300px;
        font-family: 'Open Sans Bold', sans-serif;
        font-weight: 700;
    }
    .formulario form label{
        font-size: 18px;
        margin-top: 5px;
        
    }
    select{
        border-radius: 0px;
    }
    .formulario form input, select, textarea{
        font-size: 18px;
        width: 100%;
        padding: 5px 5px 5px 5px;
    }
    .formulario form button{
        margin-top: 20px;
        font-size: 20px;
        padding: 3px 3px 3px 3px;
    }
    .enviando, .enviado, .error{
        margin-top: 20px;
        font-size: 20px;
        width: max-content;
        padding: 3px 3px 3px 3px;
        align-self: center;
        display: none;
    }
    .dudas{
        margin-top: 40px;
        padding-bottom: 20px;
        overflow-y: hidden;
        overflow-x: hidden;
    }
    .dudas img{
        width: 200px;
    }
    .dudas .direccion p{
        font-size: 16px
    }
    .cactus img{
        width: 100px;
    }
    .cactus{
        bottom: 0;
        height: 120px;
    }
    .dudas a{
        margin-top: 20px;
        font-size: 20px;
        padding: 3px 3px 3px 3px;
    }
    .luis-fest img{
        width: 130px;
      }
    .cactus .izq{
        transform: translateX(-20px);
    }
    .cactus .drc{
        transform: translateX(20px);
    }
  }
 


.ball {
    position: absolute;
    border-radius: 100px;
    opacity: 0.7;
  }

.conf{
    position: absolute;
    opacity: 0.7;
}
.conf img{
    width: 15px;
}